# Số lượng luồng profile chạy đồng thời
MULTI_TAPPERS=10
# Số lượng trình duyệt chrome được phép chạy cùng lúc
MAX_CHROME_INSTANCES=10
KILL_ALL_CHROME=False

# Bật truy cập game qua ref link (True là bật, False là truy cập qua CHANEL_REF_LINK)
ENABLE_REF_LINK=False
REF_LINK="https://t.me/TimeFarmCryptoBot?start=H6syfzXArfunls1D"

BOT_NAME="TimeFarmCryptoBot"
CHANNEL_REF_LINK="https://web.telegram.org/k/#@lhsdevlink"
GPM_API_URL="http://127.0.0.1:19995"

# Kích thước cửa sổ nhỏ (False là không nhỏ, True là nhỏ)
WINDOW_SIZE_SMALL=False
# Số dòng hiển thị trong cửa sổ nhỏ
WINDOW_SIZE_SMALL_ROWS=2

# Kiểm tra SSL của proxy (True là kiểm tra, False là không kiểm tra)
PROXY_CHECK_SSL=False

# Sử dụng proxy từ file (True là sử dụng, False là không sử dụng)
USE_PROXY_FROM_FILE=True
# Thời gian chờ iframe xuất hiện (giây)
TIME_WAIT_IFRAME_APPEAR=60

# Danh sách nút cần nhấn để vào game
BUTTON_LIST=["Open App", "Mở chương trình"]
# Thời gian chờ kiểm tra nút launch game (giây)
TIME_OUT_CHECK_BUTTON_LAUNCH_GAME=5

# Bật câu hỏi hàng ngày (True là bật, False là không bật)
DAILY_QUESTION=False
# Đáp án câu hỏi hàng ngày
# Check đáp án hàng ngày tại: https://giveawaylisting.com/tap2earn/time-farm-daily-quiz/
DAILY_ANSWER="29/11/2017"

# Bật tự động làm task (True là bật, False là không bật)
AUTO_TASK=False

# Bật tự động nâng cấp đồng hồ (True là bật, False là tắt)
AUTO_UPGRADE_CLOCK=False
# Level nâng cấp tối đa
MAX_UPGRADE_LEVEL=8

# Bật tự động stake (True là bật, False là không bật)
AUTO_STAKING=False
# Số lượng stake (theo phần trăm số dư hiện tại. Các mức mặc định trong game là 25%, 50%, 75% 100%)
STAKING_AMOUNT=25
# Lựa chọn stake (1: stake 3 ngày, 2: stake 15 ngày, 3: stake 45 ngày)
STAKING_OPTION="1"
# Cấu hình staking nhiều lần (Khi bật True thì mỗi lần chạy sẽ đều tạo stake mới dựa trên số dư hiện tại)
MULTI_STAKING=True
# Số lượng stake tối đa
MULTI_STAKING_MAX=5

# Thời gian chạy lại sau khi hoàn thành (giây)
DELAY_AFTER_DONE_TAPPER=[14400,14405]